body {
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
background: rgb(85,0,138);
background: linear-gradient(135deg, rgba(85,0,138,1) 31%, rgba(255,0,65,1) 84%);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

.container {
max-width: 600px;
width: 100%;
background: #fff;
padding: 25px 30px;
border-radius: 5px;
}

.container .title {
display: flex;
flex: 1;
flex-direction: row;
height: 200px;
}

.container .title .txt {
margin-left: 20px;
width: 60%;
font-size: 32px;
font-weight: 500;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.txt h2 {
display: flex;
align-items: center;
height: 50%;
}

.txt p {
display: flex;
align-items: center;
font-size: 14px;
height: 50%;
}

.container .img {
width: 40%;
background-image: url("fast_logo.png");
background-size: 100% 100%;
}

.container .title::before {
content: '';
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 40px;
background: rgb(85,0,138);
background: linear-gradient(135deg, rgba(85,0,138,1) 31%, rgba(255,0,65,1) 84%);
}

.container .user-details {
display: flex;
flex: 1;
flex-wrap: wrap;
gap: 60px;
}

.user-details .input-box {
margin: 20px 0 12px 0;
width: calc(100%/2-20px);
}

.user-details .input-box .details {
display: block;
font-weight: 500;
margin-bottom: 5px;
}

.user-details .input-box input, .user-details .input-box .dropdown {
height: 45px;
width: 100%;
outline: none;
border-radius: 5px;
border: 1px solid #ccc;
border-bottom-width: 2px;
padding-left: 15px;
font-size: 16px;
transition: all 0.3s ease;
}

user-details .input-box input:focus,
user-details .input-box input:valid {
border-color: #9b59b6;
}

.confirmation-details {
margin-top: 50px;
margin-bottom: 30px;
}

.confirmation-details .confirmation-title {
font-size: 20px;
font-weight: 500;
}

.confirmation-details .category {
display: flex;
flex: 1;
width: 80%;
margin: 14px 0;
justify-content: space-between;
}

.confirmation-details .category label {
display: flex;
align-items: center;
}


.confirmation-details .category {
height: 18px;
width: 18px;
display:flex;
gap:50px;
background: #d9d9d9;
border-radius: 50%;
margin-right: 10px;
border: 5px solid transparent;
}

#dot1:checked ~ .category label .one,
#dot2:checked ~ .category label .two{
border-color: #d9d9d9;
background: rgba(255,0,65,1);
}

form .button {
height: 45px;
width: 45px 0;
}

form .button input {
height: 100%;
width: 100%;
outline: none;
color: #fff;
background: rgb(85,0,138);
background: linear-gradient(135deg, rgba(85,0,138,1) 31%, rgba(255,0,65,1) 84%);
letter-spacing: 1px;
border-radius: 5px;
font-weight: 500;
border-color: white;
}

form .button input:hover {
    background: linear-gradient(-135deg, rgba(85,0,138,1) 31%, rgba(255,0,65,1) 84%);
}
